form {
    float: right; 
    text-align: right;
}

input {
    text-align: right;
}

#market_list {
    width:200px;
}

.code {
    display: flex;
    align-items: center;
}

.name, .price {
    margin-right: 10px;
}